body {
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: #4d3f55;
    margin: 10px; 
}

section {
    justify-self: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ddb3e9af;
    width: calc(100% - 40px);
    max-width: 800px;
}

.header h1 {
    color: white;
    text-align: center;
    font-size: 2.5em;
    margin: 0;
    padding: 20px;
}
.header h1 img {
    border-radius: 50%;
    margin-right: 10px;
}
.header h1 p {
    display: inline;
    vertical-align: middle;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.grid-item {
    background-color: #d070ea64;
    border-radius: 10px;
    padding: 5px;
}

.grid-item h3 {
    color: #4d3f55;
}

.grid-item p {
    color: #784a84;
}