<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="templates/static/style.css">
        <title>About</title>
    </head>

    <body>
        <h1 class="heading-about">About this website</h1>
        <p class="paragraph-description">This is my first ever webiste, I cannot guarantee security and the graphics are subpar, but I am very proud of it! Also, these reviews were not produced by real people but they hold powerful truths.</p>
        <p class="paragraph-description">PS, click the strange image to shoot me an email!</p>
        <p class="actions">
            <a href="mailto:whitmi000@gmail.com"><img class="email" src="images/maddyfarnsworth.png" title="Email me!"></a>
            <a href="home.html"><button>Homepage</button></a>
        </p>        
    </body>
</html>