<h2>Projects</h2>
<div class="grid-container">
    <div class="grid-item">
        <a class="dungeon" href="https://github.com/madswh/504DA_0306" target="_blank"><h3>Dungeon Adventure</h3></a>
        <p>A text-based adventure game where you can explore a dungeon, fight monsters, and collect loot.</p>
    </div>
    <div class="grid-item">
        <h3>This current website</h3>
        <p>A hommade concoction of AI autofills and tears created this site, isnt it glorious?</p>
    </div>
</div>

<style>
    .dungeon {
        text-decoration: none;
        color: #000;
        transition: all 0.3s ease;
    }
    .dungeon:hover {
        color: #6d4242;
        font-size: large;
        transition: all 0.3s ease;
    }
</style>